/* css reset */
* {
  margin: 0;
} 
.App {
  font-family: sans-serif;
  /*
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;*/
}

.navbar {
  width: 100%;
  background-color:#0076A8;
  height: 10em;
  
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  font-weight:bold;
  font-size: 1.5rem;
  padding: 10px;
  
}



.logo {
  height: 4.5em;
  padding: 1em;
  padding-left: 0.5em;
  border-radius: 10%;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/* Rotating logo
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}
*/

.sidebar {
  margin: 0;
  padding: 15px;
  height: 100vh;
  min-width: 8em;;
  max-width: 250px;
  background-color:#6D7283;
}

.sidebar ul {
  margin: 0; 
  padding-left: 0.5em;
  text-align: left;
}

.sidebar li {
  margin-left: 0;
  list-style: none;
  text-decoration: none; 
  padding: 2px 0;
  font-size: 1rem;
  font-weight: bold;
}

.sidebar li a, .footer a {
   color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color:#0076A8;
  color: whitesmoke;
  width: 100%;
  text-align: center;
  
}

.footer:hover {
  cursor: pointer;
  text-decoration: underline;
}

.page-content{
  display:flex;
}
.not-found {
  margin:20px 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.not-found > img {
  width: 50vw;
  height: 80vh;
}
.product-div {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.images-div{
width:50%;
}
.images-div > img {
width:100%;
}

.details-div {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #0076A8;
}

/* example selector:
  p.intro	    Selects only <p> elements with class="intro" 
  
  width: fit-content;
  */