/* css reset */
* {
  margin: 0;
} 
.App {
  font-family: sans-serif;
  /*
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;*/
}

.navbar {
  width: 100%;
  background-color:#0a035a;
  padding: 10px;
  
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  font-weight:bold;
  padding: 10px;
  
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.sidebar {
  margin: 0;
  padding: 15px;
  height: 100vh;
  max-width: 200px;
  background-color:#74787e;
  color: #0a035a;
}

.sidebar li {
  list-style: none;
  text-decoration: none; 
  margin: 0;
  padding: 2px 5px;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color:#0a035a;
  color: whitesmoke;
  width: 100%;
  text-align: center;
  
}

.footer:hover {
  cursor: pointer;
  text-decoration: underline;
}

.page-content{
  display:flex;
}
.not-found {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.not-found > img {
  width: 100vw;
  height: 100vh;
}
.product-div {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.images-div{
width:50%;
}
.images-div > img {
width:100%;
}

.details-div{
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* example selector:
  p.intro	    Selects only <p> elements with class="intro" 
  
  width: fit-content;
  */